.vscode/
.DS_Store
.sourcemaps
node_modules
platforms/ios/build
platforms/android
platforms/ios
platforms/android/build.xml
platforms/android/local.properties
platforms/android/gradlew
platforms/android/gradlew.bat
platforms/android/gradle

platforms/android/ant-build
platforms/android/ant-gen
platforms/browser/

platforms/android/gen
platforms/android/out

platforms/android/build
src/pages/login/login.ts
src/providers/auth-service/auth-service.ts
src/providers/auth-service/auth-service.ts
www/build/

