page-main {
   
 .ion-icon {
        text-align: left;
    }

    .header {
      
        background-color: #212121;
    }


    .platform-core {
        font-size: 300px;
    }

    .content, {
        background-color: #e8e8e8;
    }




}









